In [2]:
%matplotlib inline

In [3]:
import numpy as np
import pandas as pd

==========================
Data Tidying and Cleaning
==========================

In [4]:
pew = pd.read_csv('data/ds_l2/pew.csv')
pew

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [5]:
pew_tidy = pew.melt(id_vars='religion', var_name='income', value_name='frequency')
pew_tidy

                  religion              income  frequency
0                 Agnostic               <$10k         27
1                  Atheist               <$10k         12
2                 Buddhist               <$10k         27
3                 Catholic               <$10k        418
4       Don’t know/refused               <$10k         15
..                     ...                 ...        ...
175               Orthodox  Don't know/refused         73
176        Other Christian  Don't know/refused         18
177           Other Faiths  Don't know/refused         71
178  Other World Religions  Don't know/refused          8
179           Unaffiliated  Don't know/refused        597

[180 rows x 3 columns]

In [6]:
tb = pd.read_csv('data/ds_l2/tb.csv')
tb.loc[tb.iso2.isna(), 'iso2'] = 'NA'
tb

,iso2,year,m04,m514,m014,m1524,m2534,m3544,m4554,m5564,...,f04,f514,f014,f1524,f2534,f3544,f4554,f5564,f65,fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,ZW,2004,NaN,NaN,187.0,833.0,2908.0,2298.0,1056.0,366.0,...,NaN,NaN,225.0,1140.0,2858.0,1565.0,622.0,214.0,111.0,NaN
5765,ZW,2005,NaN,NaN,210.0,837.0,2264.0,1855.0,762.0,295.0,...,NaN,NaN,269.0,1136.0,2242.0,1255.0,578.0,193.0,603.0,NaN
5766,ZW,2006,NaN,NaN,215.0,736.0,2391.0,1939.0,896.0,348.0,...,NaN,NaN,237.0,1020.0,2424.0,1355.0,632.0,230.0,96.0,NaN
5767,ZW,2007,6.0,132.0,138.0,500.0,3693.0,0.0,716.0,292.0,...,7.0,178.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0,NaN
5768,ZW,2008,NaN,NaN,127.0,614.0,0.0,3316.0,704.0,263.0,...,NaN,NaN,145.0,840.0,0.0,2890.0,467.0,174.0,105.0,0.0

In [7]:
tb_tidy = tb.melt(id_vars=['iso2', 'year'], var_name='sex_and_age', value_name='cases')
tb_tidy = tb_tidy.dropna()
tb_tidy

       iso2  year sex_and_age  cases
15       AD  2005         m04    0.0
16       AD  2006         m04    0.0
18       AD  2008         m04    0.0
42       AE  2006         m04    0.0
43       AE  2007         m04    0.0
...     ...   ...         ...    ...
115195   VU  2008          fu    0.0
115269   YE  2008          fu    0.0
115323   ZA  2008          fu    0.0
115350   ZM  2008          fu    0.0
115379   ZW  2008          fu    0.0

[35750 rows x 4 columns]

In [8]:
tb_tidy['sex'] = tb_tidy.sex_and_age.str.slice(0, 1)
tb_tidy['agegroup'] = tb_tidy.sex_and_age.str.slice(1)
tb_tidy

       iso2  year sex_and_age  cases sex agegroup
15       AD  2005         m04    0.0   m       04
16       AD  2006         m04    0.0   m       04
18       AD  2008         m04    0.0   m       04
42       AE  2006         m04    0.0   m       04
43       AE  2007         m04    0.0   m       04
...     ...   ...         ...    ...  ..      ...
115195   VU  2008          fu    0.0   f        u
115269   YE  2008          fu    0.0   f        u
115323   ZA  2008          fu    0.0   f        u
115350   ZM  2008          fu    0.0   f        u
115379   ZW  2008          fu    0.0   f        u

[35750 rows x 6 columns]

In [9]:
tb_tidy = tb_tidy.drop(columns='sex_and_age')
tb_tidy

       iso2  year  cases sex agegroup
15       AD  2005    0.0   m       04
16       AD  2006    0.0   m       04
18       AD  2008    0.0   m       04
42       AE  2006    0.0   m       04
43       AE  2007    0.0   m       04
...     ...   ...    ...  ..      ...
115195   VU  2008    0.0   f        u
115269   YE  2008    0.0   f        u
115323   ZA  2008    0.0   f        u
115350   ZM  2008    0.0   f        u
115379   ZW  2008    0.0   f        u

[35750 rows x 5 columns]

In [10]:

def proces_age_groups(age_group):
    ages = {"04": "0-4", "65": "65+", "u": "unknown"}
    if age_group in ages:
        return ages[age_group]
    else:
        return f"{age_group[:-2]}-{age_group[-2:]}"


tb_tidy.agegroup = tb_tidy.agegroup.apply(proces_age_groups)

In [11]:
tb_tidy.sort_values(['iso2', 'year'])

       iso2  year   cases sex agegroup
11544    AD  1996     0.0   m     0-14
17313    AD  1996     0.0   m    15-24
23082    AD  1996     0.0   m    25-34
28851    AD  1996     4.0   m    35-44
34620    AD  1996     1.0   m    45-54
...     ...   ...     ...  ..      ...
92303    ZW  2008  2890.0   f    35-44
98072    ZW  2008   467.0   f    45-54
103841   ZW  2008   174.0   f    55-64
109610   ZW  2008   105.0   f      65+
115379   ZW  2008     0.0   f  unknown

[35750 rows x 5 columns]

In [12]:
weather_data = pd.read_csv('data/ds_l2/weather.csv')
weather_data

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
weather_data = weather_data.melt(id_vars=['id', 'year', 'month', 'element'], var_name='day')
# tb_tidy = tb.melt(id_vars=['iso2', 'year'], var_name='sex_and_age', value_name='cases')

In [14]:
weather_data.day = weather_data.day.str.slice(1).astype(int)

In [15]:
weather_data = weather_data.pivot_table(index=['id', 'year', 'month', 'day'], columns='element', values='value')
weather_data = weather_data.reset_index()

In [38]:
weather_data['date'] = pd.to_datetime(weather_data[['year', 'month', 'day']])

In [39]:
weather_data

element       id  year  month  day  tmax  tmin       date
0        MX17004  2010      1   30  27.8  14.5 2010-01-30
1        MX17004  2010      2    2  27.3  14.4 2010-02-02
2        MX17004  2010      2    3  24.1  14.4 2010-02-03
3        MX17004  2010      2   11  29.7  13.4 2010-02-11
4        MX17004  2010      2   23  29.9  10.7 2010-02-23
5        MX17004  2010      3    5  32.1  14.2 2010-03-05
6        MX17004  2010      3   10  34.5  16.8 2010-03-10
7        MX17004  2010      3   16  31.1  17.6 2010-03-16
8        MX17004  2010      4   27  36.3  16.7 2010-04-27
9        MX17004  2010      5   27  33.2  18.2 2010-05-27
10       MX17004  2010      6   17  28.0  17.5 2010-06-17
11       MX17004  2010      6   29  30.1  18.0 2010-06-29
12       MX17004  2010      7    3  28.6  17.5 2010-07-03
13       MX17004  2010      7   14  29.9  16.5 2010-07-14
14       MX17004  2010      8   23  26.4  15.0 2010-08-23
15       MX17004  2010      8    5  29.6  15.8 2010-08-05
16       MX17004  2010      8   29  28.0  15.3 2010-08-29
17       MX17004  2010      8    8  29.0  17.3 2010-08-08
18       MX17004  2010      8   13  29.8  16.5 2010-08-13
19       MX17004  2010      8   25  29.7  15.6 2010-08-25
20       MX17004  2010      8   31  25.4  15.4 2010-08-31
21       MX17004  2010     10    5  27.0  14.0 2010-10-05
22       MX17004  2010     10   14  29.5  13.0 2010-10-14
23       MX17004  2010     10    7  28.1  12.9 2010-10-07
24       MX17004  2010     10   15  28.7  10.5 2010-10-15
25       MX17004  2010     10   28  31.2  15.0 2010-10-28
26       MX17004  2010     11    2  31.3  16.3 2010-11-02
27       MX17004  2010     11    5  26.3   7.9 2010-11-05
28       MX17004  2010     11   27  27.7  14.2 2010-11-27
29       MX17004  2010     11    4  27.2  12.0 2010-11-04
30       MX17004  2010     11   26  28.1  12.1 2010-11-26
31       MX17004  2010     12    1  29.9  13.8 2010-12-01
32       MX17004  2010     12    6  27.8  10.5 2010-12-06

In [40]:
weather_data.to_csv('data/ds_l2/clean_data.csv')